* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #BBDDFF;
    color: #333333;
    font-family: Helvetica, Verdana, Arial;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

a, a:visited, a:hover {
    color: #0000FF;
}

img {
    border-width: 0px;
}

ul li, ol li, dl dd {
    margin-left: 20px;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

table tr th,
table tr td {
    text-align: left;
    vertical-align: top;
}

label {
    margin-right: 10px;
}

input, select, textarea {
    margin-bottom: 5px;
}



#page_wrapper {
    background-color: #FFFFFF;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: left;
    width: 760px;
}

#page_header {
    background-color: #BBDDFF;
    padding: 10px;
    text-align: center;
}

#page_navigation {
    background-color: #BBDDFF;
    height: 26px;
}

#page_navigation ul {
    list-style: none;
}

#page_navigation ul li {
    background-color: #E0E0E0;
    float: left;
    margin-left: 0px;
    margin-right: 5px;
}

#page_navigation ul li a,
#page_navigation ul li a:visited,
#page_navigation ul li a:hover {
    color: #333333;
    display: block;
    font-weight: bold;
    padding: 4px;
    text-decoration: none;
}

#page_navigation ul li a.active {
    background-color: #FFFFFF;
}

#page_content {
    clear: both;
    padding: 10px;
}

#content {
    margin: 10px;
}

#page_footer {
    clear: both;
    text-align: center;
}

#latest_expenses {
    float: left;
    width: 45%;
    margin-right: 10px;
    margin-top: 10px;
}

#latest_incomes {
    float: left;
    width: 45%;
    margin-top: 10px;
}

#budget_progress_bar {
    clear: both;
    padding-top: 10px;
    text-align: center;
}

#progress_wrapper {
    border: solid 1px #333333;
    height: 20px;
    overflow: hidden;
    text-align: left;
}

#progress_bar {
    height: 100%;
}

#progress_bar.green {
    background-color: #88FF88;
}

#progress_bar.yellow {
    background-color: #FFFF88;
}

#progress_bar.red {
    background-color: #FF8888;
}

.report_table {
    width: 100%;
}

.report_table thead {
    border-bottom: solid 1px #333333;
}

.report_table .numeric {
    text-align: right;
    width: 25%;
}

.report_table .even {
    background-color: #EEEEEE;
    border-bottom: solid 1px #E0E0E0;
    border-top: solid 1px #E0E0E0;
}

.report_table td span.green {
    color: inherit;
}

.report_table td span.yellow {
    color: #AAAA00;
}

.report_table td span.red {
    color: #CC3333;
}

.report_table tfoot {
    border-top: solid 1px #333333;
}

.form_table {
    margin-top: 10px;
}

.deletion {
    margin-top: 15px;
}

.previous_next_wrapper {
    height: 20px;
    padding-top: 10px;
}

.previous,
.next {
    float: left;
    margin-right: 5px;
}

.previous a,
.previous span,
.next a,
.next span {
    background-color: #EEEEEE;
    border: solid 1px #E0E0E0;
    display: block;
    padding: 5px;
    text-decoration: none;
}

.previous a:hover,
.next a:hover {
    background-color: #DDDDFF;
    border: solid 1px #0000FF;
}

#id_start_date_1 {
    /* Cheap trick to make the DatePicker look correct. */
    display: block;
}

.hide_show_button,
.hide_show_button:visited {
    color: #888888;
    text-decoration: none;
}

.transaction_table {
    display: none;
    margin: 0px 0px 0px 20px;
    width: 100%;
}

.transaction_table tbody tr td {
    color: #888888;
    width: 20%;
}

.transaction_table tbody tr td.wide {
    width: 60%;
}



/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
tr.odd td.sorting_1 {
	background-color: #D3D6FF;
}

tr.odd td.sorting_2 {
	background-color: #DADCFF;
}

tr.odd td.sorting_3 {
	background-color: #E0E2FF;
}

tr.even td.sorting_1 {
	background-color: #EAEBFF;
}

tr.even td.sorting_2 {
	background-color: #F2F3FF;
}

tr.even td.sorting_3 {
	background-color: #F9F9FF;
}

.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	_height: 302px;
	clear: both;
}

.dataTables_processing {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 250px;
	margin-left: -125px;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 11px;
	padding: 2px 0;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	width: 44px;
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('../images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../images/forward_enabled.jpg');
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto;
	width: 100%;
	clear: both;
}

table.display thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
}

table.display tfoot th {
	padding: 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 10px;
}

table.display td.center {
	text-align: center;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../images/sort_asc.jpg') no-repeat center right;
}

.sorting_desc {
	background: url('../images/sort_desc.jpg') no-repeat center right;
}

.sorting {
	background: url('../images/sort_both.jpg') no-repeat center right;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
table.display tr.odd.gradeA {
	background-color: #ddffdd;
}

table.display tr.even.gradeA {
	background-color: #eeffee;
}




table.display tr.odd.gradeA {
	background-color: #ddffdd;
}

table.display tr.even.gradeA {
	background-color: #eeffee;
}

table.display tr.odd.gradeC {
	background-color: #ddddff;
}

table.display tr.even.gradeC {
	background-color: #eeeeff;
}

table.display tr.odd.gradeX {
	background-color: #ffdddd;
}

table.display tr.even.gradeX {
	background-color: #ffeeee;
}

table.display tr.odd.gradeU {
	background-color: #ddd;
}

table.display tr.even.gradeU {
	background-color: #eee;
}


tr.odd {
	background-color: #E2E4FF;
}

tr.even {
	background-color: white;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}
