{% extends 'base.html' %}

{% block page_title %}Category List{% endblock %}

{% block content %}
    <h2>Category List</h2>
    <p>
    </p>
    <table class="report_table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% if categories %}
                {% for category in categories %}
                    <tr class="{% cycle odd,even %}">
                        <td><a href="{% url category_edit category.slug %}">{{ category.name }}</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No categories found.</td>
                </tr>
            {% endif %}
                <tr>
                    <a href="{% url category_add %}">Add another category</a>
                </tr>
        </tbody>
    </table>
    {% include 'pagination.html' %}
{% endblock %}
